<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start"><ion-back-button defaultHref="home"></ion-back-button> </ion-buttons>
         
      <ion-title>Reset Password</ion-title>
      </ion-toolbar> 
</ion-header>

<ion-content>
<form>
<ion-item lines="full">
  <ion-icon name="mail" slot="start"></ion-icon>
  <ion-label position="stacked">Email:</ion-label>
  <ion-input type="text" #email required placeholder="Email"></ion-input>
</ion-item>
<div padding>    
  <ion-button type="submit" color="danger" (click)="authService.PasswordRecover(email.value)"
  expand="block">
  Send Password Reset Mail
</ion-button>
</div>
</form>


</ion-content>
