<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <BR>
  <ion-item text-center>
    <img  src="./assets/shapes.svg">   
</ion-item>
  <BR>
  <form [formGroup]="formSignup" (ngSubmit)='signUp(email, password)'>    
    <ion-item lines="full">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item> 
    <div *ngIf="formSignup.get('email')?.errors && formSignup.get('email')?.dirty">
      <p *ngIf="formSignup.get('email')?.hasError('email')" text-center>Invalid Email</p>
  </div>
    <ion-item lines="full">
      <ion-icon name="key" slot="start"></ion-icon>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>
    <div *ngIf="formSignup.get('password')?.errors && formSignup.get('password')?.dirty">
      <p *ngIf="formSignup.get('password')?.hasError('pattern')" text-center>
        Invalid Password: minimum 8 characters,
        maximum 15 characters,
        uppercase letter, lowercase letter and some symbol (-!#$%&/()?¡_*)</p>
    </div>       
    <ion-row>
      <ion-col> 
      <ion-button type="submit" expand="full" [disabled]="!formSignup.valid">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
