<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-back-button defaultHref="rutero"></ion-back-button> </ion-buttons>
    <ion-title text-center>
      Orden Rutero
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveChanges()">Guardar Cambios</ion-button>
    </ion-buttons>
  
  </ion-toolbar>
  
</ion-header>

<ion-content [scrollY]="false">
  <div class="ion-content-scroll-host">

  <label *ngIf='sinresult'><h5 text-center>Sin Resultados</h5></label>
  <img  *ngIf='sinresult' src="./assets/shapes.svg">
    <ion-list>
      <ion-reorder-group [disabled]="false" (ionItemReorder)="reorderItems($event)">      
      <ion-item *ngFor="let item of items" style="width: 100%">  
          <ion-reorder slot="end"></ion-reorder>  
          <ion-card style="width: 100%">
          <ion-card-content>
          <strong><h5 style="font-size: smaller">{{item.Cliente}} - {{item.RZ}} - {{item.Direccion}} - {{item.Barrio}}</h5></strong>
          </ion-card-content>   
          </ion-card>
      </ion-item>
      
    </ion-reorder-group>    
    </ion-list>
  </div>
  
  </ion-content>

