<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rutero Asesor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">LU</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">MA</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">MI</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">JU</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">VI</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">SA</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
