<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rutero Asesor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="salir()">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('LU')">LU</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('MA')">MA</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('MI')">MI</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('JU')">JU</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('VI')">VI</ion-button>
      </ion-col>
      <ion-col size="auto">
        <ion-button (click)="openActionSheet('SA')">SA</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/busqueda-rutero">Búsqueda Rutero</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
 
  
</ion-content>
  

